.header-large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-16;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $primary-color;

  @include media-query("small") {
    display: none;
  }

  .header-large-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      fill: $secondary-color;
    }
  }

  .header-large-button-text {
    @include typography($font-size-16, $medium-500, $secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $spacing-12;
    white-space: nowrap;
  }
}

.header-small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $spacing-14 $spacing-0;
  border-radius: $border-radius;
  background-color: $primary-color;

  .header-small-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      fill: $secondary-color;
    }
  }

  .header-small-button-text {
    @include typography($font-size-16, $medium-500, $secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $spacing-12;
    white-space: nowrap;
  }
}
