.daily-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc((100% - 48px) / 4);
  margin-right: $spacing-16;
  margin-bottom: $spacing-16;
  padding: $spacing-16 $spacing-20;
  border-radius: $border-radius;
  background-color: $light-secondary-color;

  &:nth-child(4n) {
    margin-right: $spacing-0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: $spacing-0;
  }

  @include media-query("xlarge") {
    width: calc((100% - 32px) / 3);

    &:nth-child(n) {
      margin-right: $spacing-16;
      margin-bottom: $spacing-16;
    }

    &:nth-child(3n) {
      margin-right: $spacing-0;
    }

    &:nth-last-child(-n + 1) {
      margin-bottom: $spacing-0;
    }
  }

  @include media-query("large") {
    width: calc((100% - 16px) / 2);

    &:nth-child(n) {
      margin-right: $spacing-16;
      margin-bottom: $spacing-16;
    }

    &:nth-child(2n) {
      margin-right: $spacing-0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: $spacing-0;
    }
  }

  @include media-query("small") {
    width: 100%;

    &:nth-child(n) {
      margin-right: $spacing-0;
      margin-bottom: $spacing-16;
    }

    &:nth-last-child(-n + 1) {
      margin-bottom: $spacing-0;
    }
  }

  .daily-card-text {
    .daily-card-text-date {
      @include typography($font-size-14, $regular-400, $light-tertiary-color);
      margin-bottom: $spacing-6;
    }

    .daily-card-text-time {
      @include typography($font-size-16, $regular-400, $light-primary-color);
    }
  }

  .daily-card-info {
    display: flex;
    align-items: center;

    .daily-card-info-icon {
      height: 36px;
      width: 36px;
      margin-right: $spacing-12;
    }

    .daily-card-info-weather {
      .daily-card-info-weather-degree {
        @include typography($font-size-16, $medium-500, $light-primary-color);
        margin-bottom: $spacing-6;
      }

      .daily-card-info-weather-info {
        @include typography($font-size-14, $regular-400, $light-tertiary-color);
      }
    }
  }
}
