.search-box-input {
  @include typography($font-size-16, $regular-400, $primary-color);
  height: 52px;
  width: 100%;
  padding: $spacing-14 $spacing-16 $spacing-14 $spacing-0;
  border-width: $spacing-0;
  border-radius: $spacing-0 $border-radius $border-radius $spacing-0;
  outline: none;
  background-color: $tertiary-color;

  &::placeholder {
    @include typography($font-size-16, $regular-400, $accent-color);
  }
}
