.header-large-logo {
  margin-right: $spacing-16;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $light-secondary-color;
}

.header-large-search-icon {
  padding: $spacing-14 $spacing-12 $spacing-14 $spacing-16;
  border-radius: $border-radius $spacing-0 $spacing-0 $border-radius;
  background-color: $light-secondary-color;
}

.header-large-gps {
  margin-left: $spacing-16;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $light-secondary-color;

  @include media-query("medium") {
    display: none;
  }
}

.header-large-theme {
  margin-left: $spacing-16;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $light-secondary-color;

  @include media-query("medium") {
    margin-left: auto;
  }
}

.header-medium-search-icon {
  padding: $spacing-14 $spacing-12 $spacing-14 $spacing-16;
  border-radius: $border-radius $spacing-0 $spacing-0 $border-radius;
  background-color: $light-secondary-color;
}

.header-medium-gps {
  margin-left: $spacing-16;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $light-secondary-color;
}
