@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

$font-family: "Inter", sans-serif;

$regular: 400;
$medium: 500;

$font-size-xsmall: 14px;
$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 28px;
$font-size-xlarge: 36px;
