@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

$font-family: "Inter", sans-serif;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-36: 36px;

$line-height: 1.2;

$regular-400: 400;
$medium-500: 500;
