html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  body {
    padding: $spacing-40 $grid-margin-xlarge;
    max-width: 1200px;

    @include media-query("xlarge") {
      padding: $spacing-32 $grid-margin-large;
    }

    @include media-query("large") {
      padding: $spacing-24 $grid-margin-medium;
    }

    @include media-query("medium") {
      padding: $spacing-20 $grid-margin-small;
    }

    @include media-query("small") {
      padding: $spacing-16 $grid-margin-xsmall;
    }

    .current {
      display: flex;
      justify-content: center;
      width: 100%;

      @include media-query("xlarge") {
        flex-wrap: wrap;
      }

      .current-left {
        display: flex;
        width: 100%;
        margin-right: $spacing-16;

        @include media-query("xlarge") {
          margin-right: $spacing-0;
          margin-bottom: $spacing-16;
        }

        @include media-query("small") {
          flex-wrap: wrap;
        }

        .current-left-current-card {
          width: 100%;
          margin-right: $spacing-16;

          @include media-query("small") {
            margin-right: $spacing-0;
            margin-bottom: $spacing-16;
          }
        }

        .current-left-info-card {
          width: 100%;
        }
      }

      .current-right {
        display: flex;
        width: 100%;

        @include media-query("xlarge") {
          flex-direction: row-reverse;
        }

        @include media-query("small") {
          flex-wrap: wrap;
        }

        .current-right-info-card {
          width: 100%;
          margin-right: $spacing-16;

          @include media-query("xlarge") {
            margin-right: $spacing-0;
          }

          @include media-query("small") {
            margin-bottom: $spacing-16;
          }
        }

        .current-right-hourly-card {
          width: 100%;

          @include media-query("xlarge") {
            margin-right: $spacing-16;
          }

          @include media-query("small") {
            margin-right: $spacing-0;
          }
        }
      }
    }

    .forecast {
      display: flex;
      width: 100%;
    }
  }
}
