html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  body {
    padding: $spacing-40 $grid-margin-xlarge;
    max-width: 1200px;

    @include media-query("xlarge") {
      padding: $spacing-32 $grid-margin-large;
    }

    @include media-query("large") {
      padding: $spacing-24 $grid-margin-medium;
    }

    @include media-query("medium") {
      padding: $spacing-20 $grid-margin-small;
    }

    @include media-query("small") {
      padding: $spacing-16 $grid-margin-xsmall;
    }
  }
}
