$light-primary: #0f172a;
$dark-primary: #ffffff;
$light-secondary: #f8fafc;
$dark-secondary: #1e293b;
$light-tertiary: #64748b;
$dark-tertiary: #94a3b8;

$padding-small-x: 16px;
$padding-small-y: 14px;
$padding-medium-x: 20px;
$padding-medium-y: 16px;
$padding-large-y: 42px;
