.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  width: 100%;

  .header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header-desktop-search-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: $spacing-16;

      @include media-query("medium") {
        display: none;
      }
    }
  }

  .header-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: $spacing-16;

    @media screen and (min-width: 768px) {
      display: none;
    }

    .header-tablet-search-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: $spacing-16;
    }
  }

  .header-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: $spacing-16;

    @media screen and (min-width: 576px) {
      display: none;
    }
  }
}
